* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

.Hero_section {
    min-height: 100vh;
    width: 100%; /* Set the width to 100% */
    background-image: url("DevOps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#about {
    background-color: #f8f8f8;
    padding: 80px 0;
    overflow: hidden;
    font-family: 'Calibri', sans-serif; /* Change font style to Calibri */
    font-size: 115%; /* Increase the size by 15% */
    padding: 70px;
    color: bisque;
}

.row {
    display: flex;
    justify-content: space-between;
}


.about-col-1 {
    flex-basis: 30%; /* Change width to 30% */
    position: relative;
}

.about-col-1 img {
    width: 100%;
    height: auto;
    max-width: 150px; /* Adjust the maximum width for the image to 150px */
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about-col-2 {
    flex-basis: 70%; /* Change width to 70% */
}

.sub-title {
    font-size: 46px; /* Increase font size by 15% */
    font-weight: 600;
    color: rgb(248, 71, 71);
}

.sub-title p {
    font-size: 34px; /* Increase font size by 15% */
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background: rgb(248, 71, 71);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 80%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(248, 71, 71);
    font-size: 18px;
}

.tab-contents {
    display: none;
    font-family: monospace;
}

.tab-contents.active-tab {
    display: block;
}

.services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

.s2 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.s3 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.s4 {
    max-width: 350px;
    background-color: #2a2a2a;
    margin: 50px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}

.s4:hover {
    transform: scale(1.05);
    background-color: rgb(248, 71, 71);
}

.s4 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
}

.s4 h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #fff;
}

.s4 p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

.s4 button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

.leftcontact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftcontact h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.leftcontact p {
    margin-bottom: 10px;
}

.icon {
    margin-top: 20px;
    margin-left: 50px;
}

.leftcontact i {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
}

.leftcontact i:hover {
    color: rgb(248, 71, 71);
}

.rightcontact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

button.submit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.submit:hover {
    background-color: rgb(248, 71, 71);
}
