* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

.Hero_section {
    min-height: 100vh;
    width: 100%;
    background-image: url("DevOps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#about {
    background-color: black; /* Set the background color to black */
    color: #ffe4c4;
    padding: 80px 0;
    overflow: hidden;
    font-family: 'Calibri', sans-serif;
    font-size: 115%;
    padding: 70px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.about-col-1 {
    flex-basis: 30%;
    position: relative;
    overflow: hidden;
}

.about-col-1 img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Increase the size of the image container to twice the current size */
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(181, 203, 245, 0.5), 0 0 40px rgba(181, 203, 245, 0.3), 0 0 60px rgba(181, 203, 245, 0.2); /* Glowing border effect */
}

.about-col-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red glowing shadow */
    border-radius: 50%;
    z-index: -1;
}

.about-col-2 {
    flex-basis: 100%;
}

.sub-title {
    font-size: 46px;
    font-weight: 600;
    color: rgb(248, 71, 71);
    
}

.sub-title p {
    font-size: 34px;
    margin-bottom: 20px; /* Add margin below the sub-title */
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background: rgb(248, 71, 71);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 80%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(248, 71, 71);
    font-size: 18px;
}

.tab-contents {
    display: flex;
    flex-direction: column; /* Change to column layout */
}

.tab-contents.active-tab {
    display: block;
}

.services {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

.s2 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.s3 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.s4 {
    max-width: 350px;
    background-color: #2a2a2a;
    margin: 50px 0;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}

.s4:hover {
    transform: scale(1.05);
    background-color: rgb(248, 71, 71);
}

.s4 i {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
}

.s4 h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #fff;
}

.s4 p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

.s4 button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

.leftcontact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftcontact h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.leftcontact p {
    margin-bottom: 10px;
}

.icon {
    margin-top: 20px;
    margin-left: 50px;
}

.leftcontact i {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
}

.leftcontact i:hover {
    color: rgb(248, 71, 71);
}

.rightcontact {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

button.submit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.submit:hover {
    background-color: rgb(248, 71, 71);
}
